html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: 'Libre Baskerville', serif;
  color: #fff;
}

a {
  color: #aaa;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding-top: 25px;
}

.title, .game-over {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-top: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  /*-webkit-text-stroke: 1px #fff;  Unsupported by all browsers at this time */
  /*text-stroke: 1px #fff;*/
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.game {
  position: relative;
  height: 500px;
}

.score {
  padding-top: 5px;
  float: right;
  font-family: 'Montserrat', sans-serif;
}

.score .label {
  color: #aaa;
}

.controls {
  padding-top: 5px;
  color: #aaa;
  font-size: 0.7em;
  font-style: italic;
  display: none;
  float: left;
}

.screen {
  height: 500px;
  width: 100%;
  border: 1px solid #fff;
  background-size: auto 520px;
}

.overlay {
  position: absolute;
  height: 500px;
  width: 400px;
  top: 1px;
  left: 1px;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  text-align: center;
}

.game-over {
  margin-bottom: 5px;
  padding-top: 170px;
}

.attribution {
  padding-top: 200px;
}

.attribution p {
  margin: 0;
  color: #aaa;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 0.7em;
  line-height: 1.7em;
}
